
.cart-container{

   padding:  2rem 4rem;
   
   h2{
       font-weight: 400;
       font-size: 20px;
       text-align: center;
   }
   .titles{
       margin: 2rem 0 1rem 0;

       h3{
         font-size: 14px;
         font-weight: 400; 
         text-transform: uppercase; 
       }
       .product-title{
           padding-left: 0.5rem;
       }
       .total{
         padding-right: 0.5rem;
         justify-self: right;
       }
   }
   .cart-item{
       border-top: 1px solid rgb(187,187,187);
       padding: 1rem 0;

       .cart-product{
        display: flex;

        h3{
            font-weight: 200;
        }
        button{
            border: none;
            outline: none;
            margin-top: 0.7rem;
            cursor: pointer;
            background: none;
            color: $color2;

            &:hover{
                color:$color4 ;
            }
        }
       }
       .cart-product-quantity{
         display: flex;
         align-items: flex-start;
         justify-content: center;
         width: 100px;
         max-width: 100%;
         border: 0.5px solid rgb(177,177,177);
         border-radius:5px;

         button{
            border: none; 
            outline: none;
            background: none;
            padding:0.7rem 1.5rem ;
            cursor: pointer;
         }

         .count{
            padding: 0.7rem 0 ; 
         }
       }
       .cart-product-total-price{
           justify-self: right;
           padding-right: 0.5rem;
           font-weight: 700;
       }
   }
   .cart-summary{
       display: flex;
       justify-content: space-between;
       align-items: flex-start;
       border-top: 1px solid rgb(187,187,187);
       padding-top: 2rem;
       .cart-valider{
          @include button-cart;
          background: $color5;
       }
     .clear-cart{
         @include button-cart;
         background: $color4;
     }
   }
}

.cart-item, .titles{
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
}
