.form-container{
    padding-bottom: 15px;
    justify-content: space-between;
    
    input{
      @include input-button ;
      align-items: center;
    }
    .boutonNew{
      float: right;
      border: 1px solid;
      border-radius: 5px;
      background: $color9;
      color: $color8;
      &:hover{
            background: $color9;
            background: $color7; 
        }
      }
   

}
.paginateContainer{
  .tableau{
      @include paginationStyle;
  }

  }