.form-container{
    padding-bottom: 15px;
    justify-content: space-between;
    
    input{
      @include input-button ;
      align-items: center;
    }
    @include btnleft
   

}
.paginateContainer{
  .tableau{
      @include paginationStyle;
  }

  }
  .stockdepot{
    @include btnleft
  }